body{
  margin:0;
}
.oya{
  background-color: black;
  height: 500px;
  width:500px;
}
.ko{
  background-color: red;
  height:100px;
  width:100px;
  display: block;
  position: relative;
  top:200px;
}
