body{
  margin:0;
}
.oya{
  hight:500px;
  width:500px;
  background-color:#f6f5f4;
  position: relative;
}
.ko{
  height:100px;
  width:100px;
  position: absolute;
}
.ko1{
  background-color:#ff9abc;
  top:50px;
  left:50px;
  z-index:4;
}
.ko2{
  background-color:#f9b9ff;
  top:100px;
  left:100px;
  z-index:3;
}
.ko3{
  background-color:#cbb8ff;
  top:150px;
  left:150px;
  z-index:2;
}
.ko4{
  background-color:#acb5ff;
  top:200px;
  left:200px;
  z-index:1;
}
