body{
  color: #444;
  margin:0;
  padding:0;
  line-height: 100%;
}

/* ヘッダー */
.header{
 height:130px;
 white:980px;
}

#title-log{
 width:140px;
 position: relative;
 bottom: 10px;
 left: 95px;
}

.list-wrap{
list-style: none;
overflow: hidden;
float:right;
position: relative;
top:80px;
}

.list{
  float: left;
  margin-right: 10px;
}

.list:last-child{
  margin-right: 60px;
}

/* メインコンテンツ */

#header-bonner{
  width: 100%;
}

.main{
 height:2500px;
 white:980px;
}

.introduction{
  position:relative;
  top: 120px;
  text-align: center;
  display: inline;
}

.gazou-introduction{
  position: relative;
  left: 530px;
}

.type-wrap{
  overflow: hidden;
  float:left;
  margin-left: 60px;
  text-align: center;
  position: relative;
  top:60px;
  padding:10px 0px 50px 0px;
  border-radius: 3px;
  background-color: #d3d3d3;
}

.type1{
padding-left: 50px;
padding-right: 50px;
}

.type2{
  padding-left: 20px;
  padding-right: 20px;
}

.type3{
  padding-left: 30px;
  padding-right: 30px;
}

.type4{
  padding-left: 20px;
  padding-right: 20px;
}


/* フッター */

.footer{
  background: black;
  height:80px;
  white:980px;
}
