body{
  color: #444;
  margin:0;
  padding:0;
  line-height: 100%;
}

/* ヘッダー */
.header{
 height:130px;
 white:980px;
}

#title-log{
 width:140px;
 position: relative;
 bottom: 10px;
 left: 95px;
}

.list-wrap{
list-style: none;
overflow: hidden;
float:right;
position: relative;
top:80px;
}

.list{
  float: left;
  margin-right: 10px;
}

.list:last-child{
  margin-right: 60px;
}

/* メインコンテンツ */

#header-bonner{
  width: 100%;
}

.main{
 height:2750px;
 white:980px;
}

.introduction{
  position:relative;
  top: 120px;
  text-align: center;
  display: inline;
}

.gazou-introduction{
  position: relative;
  left: 530px;
}

.type-wrap{
  overflow: hidden;
  float:left;
  margin-left: 60px;
  text-align: center;
  position: relative;
  top:60px;
  padding:10px 0px 30px 0px;
  border-radius: 3px;
  background-color: #d3d3d3;
  border: 1px solid #b0c4de;
}

.type1{
padding-left: 50px;
padding-right: 50px;
}

.type2{
  padding-left: 20px;
  padding-right: 20px;
}

.type3{
  padding-left: 30px;
  padding-right: 30px;
}

.type4{
  padding-left: 20px;
  padding-right: 20px;
}

.type-about{
  padding-top: 15px;
}

.top1{
 width:120px;
}

.top2{
 width:100px;
}

.top3{
  width:100px;
}

/* Ranking */
.Ranking{
  position: relative;
  top: 350px;
  left: 150px;
  background-color: #d3d3d3;
  border-radius: 3px;
  padding: 10px 40px 10px 40px;
}

th,td{
  padding: 5px 0;
  border-bottom: 1px dotted #4682b4;
}

.connector-title{
  position: relative;
  bottom: -300px;
  display: inline;
  text-align: center;
}

.Ranking-Color1{
 color: #ffa500;
}

.Ranking-Color2{
 color: #b0c4de;
}

.Ranking-Color3{
 color: #a0522d;
}

table thead tr th{
  color: #ff7f50;
  padding-bottom: 15px;
}

/*テーブル*/
table{
  background: rgb(246,246,246);
  border: 1px solid #b0c4de;
  width: 80%;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-size: 14px;
}

/* フッター */

footer{
  font-size: 12px;
  padding: 15px;
  background: #333;
  text-align: center;
  color: #f6f5f5;
}
footer a{
  color: #f6f5f5;
}
